# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.git/

# Storage
storage/
storage/accounts.db